In [5]:
a=0b0011
print(a)

3

In [7]:
#complex 
x=4+4j
print(x.imag)

4.0

In [14]:
#String 
#Triple qoute used for multiple line strings

unicde=u"\U0001f600"
print(unicde)

ðŸ˜€

In [15]:
print('Data',end='-')
print('Science',end='-')
print('Mentorship',end='-')
print('Program',end='-')
print('By',end='-')
print('CampusX')

Data-Science-Mentorship-Program-By-CampusX

In [20]:
Celsius=int(input('Input Value of temperature in Celsius:'))
fahrenheit=int((1.8)*Celsius + 32)
print(f'Celsius {Celsius} = {fahrenheit} Fahrenheit')

Celsius 0 = 32 Fahrenheit

In [21]:
num=int(input('Enter number 1:'))
num2=int(input('ENter number 2:'))

num=num+num2
num2=num-num2
num=num-num2

print(f'Value of first is now {num} and value of second is {num2}')

Value of first is now 2 and value of second is 1

In [28]:
#Distance between two points
import math

x1=int(input('Enter x coordinates:'))
y1=int(input('Enter y Coordinates:'))

x2=int(input('Enter x2 coordinates:'))
y2=int(input('Enter y2 Coordinates:'))

term1=int(x2-x1)
term1= term1**2

term2=y2-y1
term2=int(term2**2)

distance=(math.sqrt(term1+term2))
print("Distance between two given points is:",distance)

Distance between two given points is: 4.47213595499958

In [33]:
#Sum of first n natural numbers
n=int(input('Enter the number of values:'))
sum=int(0)
for i in range(n):
    sum+=i
print(f'Sum of first {n} natural number is {sum}')

Sum of first 5 natural number is 15

In [38]:
#Sum of fractions

N1=int(input('Enter numerator 1:'))
D1=int(input('Denomerator 1:'))

N2=int(input('Neumerator 2:'))
D2=int(input('Denomerator 2:'))

sum=int(0)
if(D1==D2):
    sum=(N1+N2)/D1
else:
    sum=(N1/D1)+(N2/D2)

print(f'Sum of given frations are:{sum}')

Sum of given frations are:4.0

In [41]:
#Finding number of Glasses Which can be fit in the given chamber

height1=int(input('Enter the height of milk tank:'))
Length1=int(input('Enter the length of milk tank:'))
breath1=int(input('Enter the breath of milk tank:'))

volume_of_milk_tank=int(height1*Length1*breath1)

Glass_volume=int(3.14 * 1 * 3)

number_of_glass=volume_of_milk_tank/Glass_volume

print(f'Number of glass can be taken from the container are:{number_of_glass}')

Number of glass can be taken from the container are:5.0

In [43]:
#integer division
print(4/3)
print(4//3) #show only integer ignore the point values

1.3333333333333333
1

In [45]:

#BitWise operator

print(2 &3)
#output is 2 because 010
                    #011 when we do AND of each term with the cooresponding term then we get 2

print(2 | 3)


print(~3)#bitwise not which invert the each binary term of 3 like 011 then it will be 100=4

2
3
-4

In [48]:
#Membership operator

#in/not in

print('d' in 'dog')
print('d' not in 'dog')

True
False

In [53]:
num=int(input("Enter 3 digit number"))

sum=int(num%10)+int((num%100)//10) + int(num//100)

print("sum of the three digits is", sum)

KeyboardInterrupt: Interrupted by user

In [62]:
#modules in Python 
import random

print(random.randint(1,100))

84

In [64]:
import datetime

print(datetime.datetime.now())

2024-06-09 19:52:49.704818

In [66]:
help('modules')

Please wait a moment while I gather a list of all available modules...

IPython             _threading_local    hashlib             runpy
__future__          _tkinter            heapq               sched
__hello__           _tokenize           hmac                secrets
__phello__          _tracemalloc        html                select
_abc                _typing             http                selectors
_aix_support        _uuid               imaplib             shelve
_ast                _warnings           imghdr              shlex
_asyncio            _weakref            importlib           shutil
_bisect             _weakrefset         inspect             signal
_blake2             _xxinterpchannels   io                  site
_bz2                _xxsubinterpreters  ipaddress           sitecustomize
_codecs             _xxtestfuzz         ipykernel           six
_codecs_cn          _zoneinfo           ipykernel_launcher  smtplib
_codecs_hk          abc                 itertools           sndhdr
_codecs_iso2022     aifc                jedi                socket
_codecs_jp          antigravity         json                socketserver
_codecs_kr          argparse            jupyter             spwd
_codecs_tw          array               jupyter_client      sqlite3
_collections        ast                 jupyter_core        sre_compile
_collections_abc    asttokens           keyword             sre_constants
_compat_pickle      asyncio             lib2to3             sre_parse
_compression        atexit              linecache           ssl
_contextvars        audioop             locale              stack_data
_crypt              base64              logging             stat
_csv                bdb                 lzma                statistics
_ctypes             binascii            mailbox             string
_ctypes_test        bisect              mailcap             stringprep
_curses             builtins            marshal             struct
_curses_panel       bz2                 math                subprocess
_datetime           cProfile            matplotlib_inline   sunau
_dbm                calendar            mimetypes           symtable
_decimal            cgi                 mmap                sys
_distutils_system_mod cgitb               modulefinder        sysconfig
_elementtree        chunk               multiprocessing     syslog
_functools          cmath               nest_asyncio        tabnanny
_hashlib            cmd                 netrc               tarfile
_heapq              code                nis                 telnetlib
_imp                codecs              nntplib             tempfile
_io                 codeop              ntpath              termios
_json               collections         nturl2path          test
_locale             colorsys            numbers             textwrap
_lsprof             comm                opcode              this
_lzma               compileall          operator            threading
_markupbase         concurrent          optparse            time
_md5                configparser        os                  timeit
_multibytecodec     contextlib          ossaudiodev         tkinter
_multiprocessing    contextvars         packaging           token
_opcode             copy                parso               tokenize
_operator           copyreg             pathlib             tomllib
_osx_support        crypt               pdb                 tornado
_pickle             csv                 pexpect             trace
_posixshmem         ctypes              pickle              traceback
_posixsubprocess    curses              pickletools         tracemalloc
_py_abc             dataclasses         pip                 traitlets
_pydatetime         datetime            pipes               tty
_pydecimal          dateutil            pkgutil             turtle
_pyio               dbm                 platform            types
_pylong             debugpy             platformdirs        typing
_queue              decimal             plistlib            unicodedata
_random             decorator           poplib              unittest
_sha1               difflib             posix               urllib
_sha2               dis                 posixpath           uu
_sha3               doctest             pprint              uuid
_signal             email               profile             venv
_sitebuiltins       encodings           prompt_toolkit      warnings
_socket             enum                pstats              wave
_sqlite3            errno               psutil              wcwidth
_sre                executing           pty                 weakref
_ssl                faulthandler        ptyprocess          webbrowser
_stat               fcntl               pure_eval           wsgiref
_statistics         filecmp             pwd                 xdrlib
_string             fileinput           py_compile          xml
_strptime           fnmatch             pyclbr              xmlrpc
_struct             fractions           pydoc               xxlimited
_symtable           ftplib              pydoc_data          xxlimited_35
_sysconfigdata__linux_x86_64-linux-gnu functools           pyexpat             xxsubtype
_sysconfigdata__x86_64-linux-gnu gc                  pygments            zipapp
_testbuffer         genericpath         queue               zipfile
_testcapi           getopt              quopri              zipimport
_testclinic         getpass             random              zlib
_testimportmultiple gettext             re                  zmq
_testinternalcapi   glob                readline            zoneinfo
_testmultiphase     graphlib            reprlib
_testsinglephase    grp                 resource
_thread             gzip                rlcompleter

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

In [68]:
#while with else
i=0
while(i<10):
    print(i)
    i+=1
else:
    print('Else condition')

0
1
2
3
4
5
6
7
8
9
Else condition

In [1]:
#Population finder
current_population=int(10000)
year=int(10)

In [2]:
#Example of Use of loop:

#To display the the info in same structure again and again

In [1]:
num=int(input('ENter the number to find its table:'))
i=1
while(i<10):
    print(num,'*',i,'=',num*i)
    i+=1

ValueError: invalid literal for int() with base 10: ''

In [1]:
Session 3:

SyntaxError: invalid syntax (2445302783.py, line 1)

In [1]:
num=1
for i in range (1,5):
    for j in range(1,i+1):
            print(j,end='')
    for k in range(i-1,0,-1):
          print(k,end='')
        
    print()
    num+=2

1
121
12321
1234321

In [10]:
lower=int(input('Enter the lower range from where it start:'))
upper=int(input('Upper range where it ends:'))

num=0

for i in range(lower,upper):
    for j in range (1,i+1):
        if(i%j==0):
            num+=1
    if(num==2):
        print(i,end=' ')
    num=0

In [11]:
for i in range(1,10):
    pass

In [12]:
#STRING 22/7/2024
s='hello'
s="hello"
s='''hello
sdafsdfa
asdf
''' #for multiple lines

In [14]:
#Indexing positive and negative indexing

#one line to reverse the string
s="hello world"
print(s[::-1])


#strings in python are immutable

#Deleting the string

del s 
print(s)

dlrow olleh

In [15]:
#Operations on Strings 

#arthimatic operation only multiplication and addition works

print('*'*50)

#Relational operators work on the base of the Ascii value of the characters

#logical operator
#In Python empty string is false and some character in string is true.

'' and 'world' #answer would be empty string which is false

'hello' and 'world' #answer would be 'world' after checking the complete expression the python give the true value 

'hello' or 'world' #answer would be hello because first is true.

**************************************************

'hello'

In [19]:
#Membership operator 
'D' in 'Dehli'

'd'  in 'Dehli'

False

In [21]:
#string funcitons

#common functions 
#len
#max
#min
#sorted

len('hello world')
max('world ')
min('khan bhi ')
sorted("asdfsdfzcx")

['a', 'c', 'd', 'd', 'f', 'f', 's', 's', 'x', 'z']

In [22]:
#function world only with string
s="my world is me"
s.capitalize()

'My world is me'

In [24]:
s.title()

'My World Is Me'

In [25]:
s.upper()

'MY WORLD IS ME'

In [26]:
ra='RasdraaRASDAS'
ra.swapcase()

'rASDRAArasdas'

In [27]:
#find/count/index
#endswith('string')
#startswith('string')

In [31]:
name="Raqeeb"
gender="male" 
print('Salam my name is {} and I am a {}'.format(name,gender))
'Salam my name is {1} and I am a {0}'.format(name,gender)

Salam my name is Raqeeb and I am a male

'Salam my name is male and I am a Raqeeb'

In [1]:
#functions isalnum/isalpha/isdigit/isidentifier

'araees'.isalnum()

True

In [35]:
'123'.isalpha()

False

In [34]:
'123'.isdigit()

True

In [36]:
#for identifier name check
'1name'.isidentifier()
#output is false because identifier is wrong

False

In [37]:
'name'.isidentifier()
#output is true because the identifier is valid

True

In [38]:
#split/join 

'my name is khan'.split()
#split breakdown the each word from the string and add each of them to a list

['my', 'name', 'is', 'khan']

In [39]:
'my name is khan'.split('m')

['', 'y na', 'e is khan']

In [41]:
#list to string 
' '.join(['my','name','is','khan'])

'my_name_is_khan'

In [42]:
'-'.join(['my','name','is','khan'])

'my-name-is-khan'

In [43]:
#for each function used for string, a new string is formed and operation is perforemed at that new string

In [44]:
#STRIP function is used to remove all the extra spaces 

'raqeeeb                            '.strip()

'raqeeeb'

In [45]:
value=input('Enter the string')
counter=0
for i in value:
    counter+=1

print('length of the string is {}'.format(counter))

length of the string is 6

In [55]:
value=input('Enter your gmail:')
pos=value.index('@')

print('username is:',value[0:pos])

username is: jklhjk

In [52]:
value='khan'
pos=value.index('a')

In [56]:
pos

6

In [57]:
counter=0
for i in value:
    if(i=='h'):
        counter+=1

print(counter)

1

In [61]:
value=input('Enter any string to find it is palindrome or not')

value2=value[::-1]

if(value==value2):
    print('The given string is palindrome')
else:
    print('the given number is not palindrome')

the given number is not palindrome

In [63]:
counter=0
sentense='my name is khan.' 
for i in sentense:
    if(i==' ' or i=='.'):
        counter+=1

print('number of words are:{}'.format(counter))

number of words are:4

In [1]:
sentense='this is my sentense'

for i in sentense:
    if():

SyntaxError: incomplete input (620996933.py, line 4)

In [3]:
number = int(input('enter any number:'))

value=

SyntaxError: invalid syntax (366524363.py, line 3)

In [4]:
#Session 4 LIST

In [5]:
#In memory list store the address of the item stored in the list  

#empty list
print([])

#1D list 
print([1,2,3,4])

#2D list
print([1,2,3,[4,5]])

#3D list
print([2,3,[4,[4]]])

#A list which has different type of data types is called hetrogeneous list

[]
[1, 2, 3, 4]
[1, 2, 3, [4, 5]]
[2, 3, [4, [4]]]

In [7]:
print(list(1234))

TypeError: 'int' object is not iterable

In [8]:
print(list("raqeeb")) #converting to list

['r', 'a', 'q', 'e', 'e', 'b']

In [12]:
#accessing element from the nested list 

l=[1,2,3,[5,4]]

print(l[3][0])

l2=[[[1,3],[4,3]],[[4,3],[5,6],[7,8]]]
print(l2[0][1][0])

5
4

In [2]:
#slicing 
#same as string

l3=[1,3,2,3,4]
print(l3[0:])
print(l3[-1::-2])

[1, 3, 2, 3, 4]
[4, 2, 1]

In [19]:
#Addin Items
l3.append('raees')

In [20]:
l3

[1, 2, 3, 4, 'raees']

In [21]:
#extend is used to add multiple items at a time
#problem with extend

l2.extend('raees')#this will break the string and convert it to items of list and add it to list

In [22]:
l2

[[[1, 3], [4, 3]], [[4, 3], [5, 6], [7, 8]], 'r', 'a', 'e', 'e', 's']

In [23]:
l2.append("raees")

In [24]:
l2

[[[1, 3], [4, 3]], [[4, 3], [5, 6], [7, 8]], 'r', 'a', 'e', 'e', 's', 'raees']

In [25]:
#so extend will always try to add the item after breaking it to list items but append add the whole item

In [26]:
#insert function
l3.insert(1,100)

In [27]:
l3

[1, 100, 2, 3, 4, 'raees']

In [28]:
l3.insert(3,400)

In [29]:
l3

[1, 100, 2, 400, 3, 4, 'raees']

In [18]:
#editing of list is possible
l4=[1,2,3,4,5]

l4[-2]=200

l4[1:4]=[123,123,4] #editing using slicing

In [19]:
#deleting List
l4

del l4[1]
l4

[1, 123, 4, 5]

In [37]:
l3

[1, 100, 2, 400, 3, 4, 'raees']

In [38]:
del l3[-1]

In [39]:
l3

[1, 100, 2, 400, 3, 4]

In [41]:
#deleting using slicing
del l3[0:4]
l3

[3, 4]

In [42]:
#when you don't know the index position of list we use remove function
l3.remove(3)
l3

[4]

In [20]:
#Pop 
l4=[1,2,3,4]
l4.pop(1)
l4

#when index is not provided in the pop function then it will delete the last item

[1, 3, 4]

In [44]:
#Clear to delete the whole list items

In [45]:
#4 ways of deleting items of list 1)del 2)pop 3)clear 4)remove

In [46]:
#Operations on List
#sum and multiplication

l4+[4,5,2]

[1, 3, 4, 4, 5, 2]

In [21]:
l4*2

[1, 3, 4, 1, 3, 4]

In [24]:
#membership opearor  (not in / in)
l1=[1,2,3,4]
l2=[4,5,6,7]

print(5 in l1)

False

In [25]:
print(4 in l2)

True

In [23]:
#list functions
#len/max/min/sorted

#ALL ARE SAME EXCEPT SORTED

print(sorted(l1))
#Sorted is not operation on the list but it will create a new list and implement the operation on that copy of new list

NameError: name 'l1' is not defined

In [22]:
print(sorted(l1))

NameError: name 'l1' is not defined

In [53]:
#index function which is used to find the index position of element
l1.index(2)

1

In [54]:
l1.append(1)

In [55]:
l1.index(1)
#If there are multiple same values in the list it will output the first value index

0

In [56]:
#reverse function permanently change the list and it doesn't make the new list like other functions

In [32]:
#sort vs sorted function
l=[1,23,123,2,4,4]
print(sorted(l))
l
#l.sort()
l

[1, 2, 4, 4, 23, 123]

[1, 23, 123, 2, 4, 4]

In [58]:
l

[1, 23, 123, 2, 4, 4]

In [59]:
l.sort()

In [60]:
l

[1, 2, 4, 4, 23, 123]

In [61]:
#copy 
print(id(l))

140275811457088

In [33]:
l1=l.copy()
print(id(l))

print(id(l1))

1725566625728
1725566565440

In [63]:
#it is deep copy having different address of copy of the list

In [64]:
#LIST COMPARIHENSION
#list comparihension provide us shorter way and easy way to make list and perform the operations
#syntax 
#list=[expression for i in iterable if condition]

l=[i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
#Salar multiplication on a vector
v=[2,3,4]
s=-3
#using list comparihension
l=[s*i for i in v]

In [66]:
l

[-6, -9, -12]

In [67]:
#list comparehension and if condition
l=[i for i in range(1,11) if i%3==0]
print(l)

[3, 6, 9]

In [70]:
#nested list comprehension 
l5=[[i*j for i in range(1,4) ]for j in range(1,4)] #What is the procedure? i didn't get

In [71]:
l5

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [1]:
#24/6/2024
#Cartesian products-> list comprehension on 2 lists togather
l1=[1,2,3,4]
l2=[4,5,6,7,8]
[i*j for i in l1 for j in l2]

[4, 5, 6, 7, 8, 8, 10, 12, 14, 16, 12, 15, 18, 21, 24, 16, 20, 24, 28, 32]

In [2]:
#Way to transver through the list using loop
l=[1,2,3,4,5]

for i in l:
    print(i)

1
2
3
4
5

In [3]:
#indexwise 
for i in range(0,len(l)):
    print(i)

0
1
2
3
4

In [34]:
#ZIP FUNCTION IS USED TO CREATE A tuples in the LIST USING FIRST AND SECOND LIST i.e sum of the alternative numbers.
l1=[1,2,3]
l2=[1,2,3]

print(list(zip(l1,l2)))# it will create a zip object


[i+j for i,j in zip(l1,l2) ]

<zip object at 0x00000191C3CFA080>

[2, 4, 6]

In [7]:
#list can store any kind of objects and function in it
l=[1,3,print,type]

In [8]:
print(l)

[1, 3, <built-in function print>, <class 'type'>]

In [9]:
a=[1,2,3]
b=[]

for i in range(0,len(a)):
    b[i]=a[i]

a.append(4)
print(a)
print(b)

IndexError: list assignment index out of range

In [10]:
#Disadventages of Python
#slow as compare to other low level language like c++ c java
#risky to usage for beginner specially
#Eats up more memory

In [11]:
l1=[1,2,3,4,5,6]

l2=[i for i in l1 if i%2==0]
print(l2)

l3=[i for i in l1 if i%2!=0]
print(l3)

[2, 4, 6]
[1, 3, 5]

In [13]:
list(input('enter the items of list'))

['r',
 'a',
 'q',
 'e',
 'e',
 'b',
 ' ',
 'i',
 's',
 ' ',
 'm',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ']

In [36]:
user_input=input('enter the items for the list')
list(user_input.split())

['raees', 'asd', 'asd', 'zxc', 'zxcz']

In [16]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

l1.extend(l2)

In [17]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
for i in range(0,len(l1)):
    if(l1[i]==3):
        l1[i]=300

print(l1)

[1, 2, 300, 4, 5, 6, 7, 8, 9, 10]

In [47]:
#Removing Duplicates from the list
checker=0
l1=[1,2,3,1,1,2,2,3,4,5,5]
l3=l1.copy()
l2=[]
checker=0
#[i for i in range(0,len(l1)) for j in range(0,len(l1)) if l1[i]==l1[j] l1.remove(l1(j))]
for i in l1:
    for j in l3:
        if(i==j):
            checker+=1
            if(checker>1):
                l1.remove(j)
    
    checker=0
            

print(l1)

[1, 2, 3, 4, 5]

In [44]:
l1=[1,2,4]
l1.remove(l1[1])
print(l1)

[1, 4]

In [54]:
#Checking the List is in Ascending order or not

l1=[1,2,3,19,5,6]

checker=0
value=0
for i in range(0,len(l1)-1):
    if(l1[i]<l1[i+1]):
        checker+=1
        
if(checker==len(l1)-1):
    print('the list is in assending')
else:
    print('list is not in ascending order')

list is not in ascending order

In [73]:
#problem 2
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1.insert(2,7000)
list1

[10, 20, 7000, [300, 400, [5000, 6000], 500], 30, 40]

In [74]:
l1=[1,2,3]
l1[2][2].insert(0,1)
l1

TypeError: 'int' object is not subscriptable

In [76]:
l1[2][2].insert(2,7000)

TypeError: 'int' object is not subscriptable

In [80]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for i in range(0,len(candy_list)-1):
    print(candy_list[i],'-',no_of_items[i])

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74

In [81]:
list1 = [1,2,3,4,5,6]

list2=[]

for i in range(0,len(list1)-1):
    list1[i+1]=list1[i]+list1[i+1]

print(list1)

[1, 3, 6, 10, 15, 21]

In [96]:
#problem 5
list1=[2,4,6,10,1]
list2=list1.copy()
carrier=0
for i in range(0,len(list1)):
    for j in range(0,len(list1)):
        if(list2[i]<list2[j]):
            list1[i]+=list2[j]
        

print(list1)
print(list2)

[22, 20, 16, 10, 23]
[2, 4, 6, 10, 1]

In [115]:
#problem 6
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

list2=[]

for i in range(0,len(num1)):
    for j in range(0,len(num1)):
        if(num1[i]==num2[j]):
            list2.append(num1[i])



print(list2)

[67, 89, 34]

In [15]:
list1=['1ac21', '23fg', '456', '098d','1','kls']
list2=[]
value=0
temp=''
product=1
product_list=[]
present_in=False
for i in range(0,len(list1)-1):
    for j in list1[i]:
        for k in range(1,11):
            temp=j
            for m in temp:
                try:
                    if int(m) == k:
                        list2.append(list1[i])
                        present_in = True
                except ValueError:
                    # Handle the case where m is not a number
                    pass  # Or do something else
    if(present_in==True):
        for l in list2:
            try: 
                if int(l):
                  product*=int(l)
            except ValueError:

                pass
        product_list.append(product)

print(product_list)

[1, 1, 94818816, 8990607867641856, 852478793130085497962496]

In [17]:
def calculate_product(string):
  product = 1
  for char in string:
    if char.isdigit():
      product *= int(char)
  return product

def sort_by_product(list1):
  product_list = [(calculate_product(s), s) for s in list1]
  product_list.sort()
  return [s for _, s in product_list]

list1 = ['1ac21', '23fg', '456', '098d', '1', 'kls']
sorted_list = sort_by_product(list1)
print(sorted_list)

[(0, '098d'), (1, '1'), (1, 'kls'), (2, '1ac21'), (6, '23fg'), (120, '456')]

In [21]:
list1=['CampusX is a channel', 'for data-science', 'aspirants.']
result=[word for item in list1 for word in item.split()]
result=list1.split()
result

AttributeError: 'list' object has no attribute 'split'

In [60]:
list1=[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

list2=[print(word,end='') for item in list1 for i in range(0,len(item)) for word in item[i]]#MINE

list2=' '.join([''.join(word) for word in list1]) #gpt
print(list2)

campuxisbestchannelcampux is best channel

In [63]:
list1=['2','r','2']
value='ra'

''.join(list1)
'9'.join(['6','1'])

'691'

In [58]:
list1 = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

result = ' '.join([''.join(sublist) for sublist in list1])
print(result)

campux is best channel

In [65]:
list3=['campusxIs', 'bestFor', 'dataScientist']

list4=[' '.join(item[i-1]) for i in list3 for j in ]

SyntaxError: invalid syntax (514717481.py, line 3)

In [37]:
#26/7/2024
#Tuple 
#Immutable list
#In tuple order metters
#empty tuple:
t1=()
print(t1)

#single item tuple
t2=(1) #wrong syntax 
print(type(t2))
t2=(1,) #correct syntax
print(type(t2))
print(t2)


#type conversion 
t3=tuple("Hell")
t4=list("hello")
print(t3)
print(t4)

()
<class 'int'>
<class 'tuple'>
(1,)
('H', 'e', 'l', 'l')
['h', 'e', 'l', 'l', 'o']

In [74]:
#Accessing Items from Tuple : Indexing and slicing
t3=(1,2,3,4)
print(t3[0])

1

In [77]:
t3[0:3]

(1, 2, 3)

In [83]:
#Changes in tuple is not possible
#We can delete the whole tuple but not the portion of it
del t3[1:3]
#print(t3)

NameError: name 't3' is not defined

In [91]:
#Operation in TUple
# + and *

t1=(1,2,3,4)
t3=(3,4,5)
print(t1+t3)

print(t1*2)
100 in t1

for i in t1:
    print(i)

(1, 2, 3, 4, 3, 4, 5)
(1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

In [94]:
#Tuple functions len/min/max/sorted

In [95]:
#Difference Between list and tuple
#tuple is faster
#tuples takes less memory 
#tuples has less build in function
#LIst is more error prone
#Useability 
#why we use tuple? when we don't want to change the data

In [96]:
#Specific function in tuple 
#tuple unpacking

a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [98]:
#swaping
a=1
b=2
a,b=b,a
print (a,b )

2 1

In [100]:
#While tuple unpacking when you don't want to unpack all the tuple values
a,b,*other=1,2,3,4,4,5,6
#it store first two values and the remaining values are stored in the list 
print(a,b)
print(other)

1 2
[3, 4, 4, 5, 6]

In [101]:
#zipping tuples
a=(1,2,3,4)
b=(5,6,7,8)


list(zip(a,b))
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

In [102]:
#tuple comprehension

In [103]:
#Set .........................................
#characterstic of Sets
# Unorder 
#Mutable
#No Duplicates
#Can't contain mutable data types

In [104]:
#Creatin empty set 
s={} #this will become dictionary by python default setting 

print(type (s))

<class 'dict'>

In [105]:
s=set()
print(type(s))

<class 'set'>

In [120]:
s1={1,'123',1.2,2,3,'asf'}
s1
print(s1)

{1, 2, 3, '123', 1.2, 'asf'}

In [121]:
#Accessing item from them set is not allowed because their order is random which is decided by hash in memory

In [132]:
#Editing is not possible in SET
#ADding is possible 
s1={1,2,3}
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [133]:
#ADding multiple items to set we use update function and provide list to it
s1.update([1,23,4,5,6,2])
print(s1)

{1, 2, 3, 4, 5, 6, 23}

In [134]:
#Deleting Items in set
print(s1)
del s1
print(s1)

{1, 2, 3, 4, 5, 6, 23}

NameError: name 's1' is not defined

In [2]:
s1={1,2,3,4}
s1.discard(2)
print(s1)

{1, 3, 4}

In [3]:
s1.remove(2)

KeyError: 8

In [138]:
print(s1)

{1, 3}

In [140]:
s1.remove(100) #remove function will show error if the mention item is not in the set but discard will not show 
#Any error 
s1.discard(1000)

KeyError: 100

In [39]:
#Pop function will remove any number or item from SET at random 
s1={1,2,3,4}
s1.pop()
print(s1)

{2, 3, 4}

In [144]:
#clear function will remove all the items from the set and make it empty set
s1.clear()
print(s1)

set()

In [6]:
#Main Fitures Set operations
#Union(|)
s1={1,2,3,4}
s2={5,4,3,1}
s1|s2

#intersetion(&)
s1 & s2

# differencece(-)
s1-s2

#Symmetric difference (^) it print everything which is not common in both sets
s1^ s2

#Memebership test
print(2 in s1)
print(2 not in s1)

#Iteration
for i in s1:
    print(i)

True
False
1
2
3
4

In [153]:
#Set Functions
#len/sum/min/max/sorted
#Output of sorted function is in list 
sorted(s1,reverse=True)

[4, 3, 2, 1]

In [157]:
#Union/ update function
s1.union(s2)
s1.update(s2)# this will assign the new unioned value to s1
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{1, 3, 4, 5}

In [161]:
#Intersection / intersection update
s1={1,2,3}
s1.intersection(s2)
print(s1)

s1.intersection_update(s2)

#all other function behave same as the above union and intersection function

{1, 2, 3}

In [42]:
#isdisjoint/issubset/issuperset FUNCTION

s1.isdisjoint(s2) #disjoin set means having no common element in the sets

s1={1,2,3}
s2={1,2,3,4,5,5,6}
s1.issubset(s2)

s2.issuperset(s1)

NameError: name 's2' is not defined

In [41]:
#Copy Function
s1=s2.copy()
print(id(s1))
print(id(s2))

NameError: name 's2' is not defined

In [170]:
#FROzENset
#immutable
#creating forzen set
fs=frozenset([1,2,3])
fs

frozenset({1, 2, 3})

In [171]:
#union intersection , issuperset all will work which only read
#We use frozenset where we don't want to change
#nested frozenset is possible

In [173]:
#Set Comprehension
{i for i in range(1,11) if i>5}

{6, 7, 8, 9, 10}

In [174]:
#DICTIONARY 
#It hold key and its values like map it also called map or associative arrays
#Mutable
#Indexing has no meaning
#Keys can't be duplicated 
#Keys can't be mutable items

In [178]:
#Creating empty dictionary 
d={}
d
d1={'name':12,13:'asdf'}
d1

#Nested Dictionary pairs 2d and 3d ->JSON
s={
    'name':'raees',
    'subject':{'dss':23}
}
print(s)

{'name': 'raees', 'subject': {'dss': 23}}

In [179]:
#Using sequence and dict function passing list of tuples to form dictionary
d4=dict([('name','nitish'),('age',32),(3,3)])
d4

{'name': 'nitish', 'age': 32, 3: 3}

In [181]:
#Mutable keys are not allowed
d4={'asdf':'asdf',[1,2]:3}

TypeError: unhashable type: 'list'

In [43]:
#Accessing from the dictionary we use key of dictionary
d3={1:2,'123':3}
d3['123']

d3.get('123')

3

In [184]:
#Adding new key value pair

d3['gender']='male'

In [185]:
d3

{1: 2, '123': 3, 'gender': 'male'}

In [44]:
#Removing Key value pair from dictionary
d3.pop(1)
d3

d3.popitem() #It will remove the last item from the dictonary

('123', 3)

In [193]:
d3

{}

In [194]:
#Deleting 
del d3

NameError: name 'd3' is not defined

In [197]:
#Accessing Nested dictionary
s={1:2,4:5,'subjects':{'math':2}}

s['subjects']['math']

2

In [198]:
#Editing Dictionary
s['subjects']['math']=100

In [199]:
s

{1: 2, 4: 5, 'subjects': {'math': 100}}

In [227]:
#DIctionary operations 
#Membership operator work on keys only
s={1:2,4:5,'subjects':{'math':2}}
'subjects' in s

True

In [208]:
#Loop in dictionary 
d={'name':'raees','gender':'Male','age':20}
for i in d:
    print(i,d[i])

name raees
gender Male
age 20

In [ ]:
#len/min/max/sorted sorted will sort the key of the dictionary

In [213]:
#items/keys/values
print(d)
print(d.items())# Items make list of tuples
print(d.keys())
print(d.values())

{'name': 'raees', 'gender': 'Male', 'age': 20}
dict_items([('name', 'raees'), ('gender', 'Male'), ('age', 20)])
dict_keys(['name', 'gender', 'age'])
dict_values(['raees', 'Male', 20])

In [46]:
#Update function
d2={1:2,3:4,5:6}
d3={5:3,6:9,10:20}

d2.update(d3) #This will permanently change the d2 
print(d2)

{1: 2, 3: 4, 5: 3, 6: 9, 10: 20}

In [223]:
#Creating dictionary uisng dictionary comprehension
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [224]:
d2={'karachi':1000,'lahore':400,'skardu':1500}
#Creating a new dictionary from existing one using comaperihension 
d3={key:(value*2) for (key,value) in d2.items()}
d3

{'karachi': 2000, 'lahore': 800, 'skardu': 3000}

In [225]:
#USING ZIP which pair up things

days=['Monday','Tuesday']
temp=[12,13]

{i:j for (i,j) in zip(days,temp)}

{'Monday': 12, 'Tuesday': 13}

In [226]:
#nested COmprehension of dictionary
{i:{j:i*j for j in range(1,11)} for i in range (1,5)}

{1: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10},
 2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [1]:
#***************************************************

In [71]:
#27/7/2024

#TUples practice 

test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 

new_list=[()]
num=0
num2=0
bool=True
for i in range(0,5):
    for j in range(0,1):
         if(test_list[i][j]==5):
              
              new_list[num]+=test_list[i]
         else:
              new_list.append(test_list[i])




print(new_list)

[(5, 6, 5, 7, 5, 8), (6, 10), (7, 13)]

In [66]:
new_list[0]+=test_list[0]

In [54]:
new_list[0] 
test_list[0]

(5, 6)

In [72]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 

new_list = []
current_five_tuple = ()

for tup in test_list:
    if tup[0] == 5:
        if current_five_tuple:
            current_five_tuple += tup[1:]
        else:
            current_five_tuple = tup
    else:
        if current_five_tuple:
            new_list.append(current_five_tuple)
            current_five_tuple = ()
        new_list.append(tup)

if current_five_tuple:
    new_list.append(current_five_tuple)

print(new_list)

[(5, 6, 7, 8), (6, 10), (7, 13)]

In [74]:
for i in test_list:
    print(i[0])

5
5
5
6
7

In [3]:
#Problem 2
t1=(1,5,7,8,10)
t2=list(t1)

for i in range(0,len(t1)-1):
    if(i==0 or i==[len(t1)-2]):
        if(i==0):
            t2[i]=t1[i]*t1[i+1]
            t2[len(t1)-1]=t1[len(t1)-2]*t1[len(t1)-1]
    else:
        t2[i]=t1[i]*t1[i-1] + t1[i]*t1[i+1]
    
t2=tuple(t2)
print(t2)

(5, 40, 91, 136, 80)

In [9]:
#Problem 3
counter=0
t1 = (1,2,3,0)

t2 = (0,1,2,3)

for i in range(0,len(t1)):
    if(t1[i]==t2[i]):
        counter+=1

if(counter==len(t1)):
    print('Tht two tuples are same')
else:
    print('The two given tuples are not same')

The two given tuples are not same

In [ ]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

In [13]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

num_tup=0
num_list=0
num_set=0
for i in list1:
    if(isinstance(i,tuple)):
       num_tup+=1
    elif(isinstance(i,list)):
        num_list+=1
    elif(isinstance(i,set)):
        num_set+=1

print("Set:",num_set,'\nList:',num_list,'\nTuple:',num_tup)

Set: 2
List: 2
Tuple: 1

In [61]:

record=[]
name=''
Education=''
Skill=''
Graduation=''

Re_skill='python'
Re_education='B.Tech'
Re_Graduation='2022'

num_student=int(input('Enter the number of candidates:'))

for j in range(1,num_student+1):
    print('Candidate number:',i)
    name=input('Enter the name of Candidate:')
    record.append(name)
    Education=input('Enter the Education of Candidate:')
    record.append(Education.title())
    Skill=input('Enter the skill of Candidate:')
    record.append(Sckill.lower())
    Graduation=input('Enter the date of graduation:')
    record.append(Graduation)



candidate_selected=[]
tem=[]
for i in range(0,len(record),5):
    checker=0
    for j in range(i,i+4):
        if j<len(record):
            if(record[j]==Re_education):
                checker+=1
            if(record[j]==Re_skill):
                checker+=1
            if(record[j]==Re_Graduation):
                checker+=1
    
    if(checker==3):
       
        tem.extend(record[i:i+5])
        tem=tuple(tem)
        candidate_selected.append(tem)
        candidate_selected.append(' ')
        tem=[]
       


if(candidate_selected):
    print('Selected Candidates are:')
    for candidate in candidate_selected:
        print(candidate)  
else:
    print('No one full filled the Conditions')

Candidate number: 5
Candidate number: 5
Selected Candidates are:
('Raqeeb', 'B.Tech', 'python', '2022', 'khan')

('B.Tech', 'python', '2022')

In [57]:
candidate_selected

[('Raqeeb', 'B.Tech', 'python', '2022'), ' ', (), ' ']

In [56]:
record

['Raqeeb', 'B.Tech', 'python', '2022', 'khan', 'B.Tech', 'python', '2022']

In [13]:
#Set practice:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

ar1=set(ar1)
ar2=set(ar2)
ar3=set(ar3)


print(ar1& ar2& ar3)

{80, 20}

In [2]:
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowels=['a','e','i','o','u','A','E','I','O','U']
Str1=set(Str1)
vowels=set(vowels)

count=0
for i in vowels:
    for j in Str1:
        if(j==i):
            count+=1

print('number of vowel in the given string are', count)

number of vowel in the given string are 6

In [3]:
#Checking unique binary string 
str=input('Enter only two binary combination of string:')

In [14]:
l1=[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]


for i in range(0,len(l1)):
        l1[i]=set(l1[i])

l2=[]
for i in range(0,len(l1)-1):
        l1[i+1]= l1[i]| l1[i+1]
        l2=l1[i+1]

l2=list(l2)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 9]

In [23]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
list(lst1& lst2)
l1=[]
l1.append(lst1 & lst2)
l1=[ i for i in lst1 for j in lst2 if i==j ]
l1

[9, 11, 26, 28]

In [57]:
test_dict = {"CampusX" : [5, 7, 7, 8, 5], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
l1=[]
key=''
for i in test_dict:
    for j in test_dict[i]:
        l1.append(j)
    l1=set(l1)
    
    if(len(l1)==len(test_dict[i])):
        key=i
        break
    elif(len(l1)== len(test_dict[i])-1):
        key=i
        break
    elif(len(l1)== len(test_dict[i])-2):
        key=i
        break
    l1=[]

print(key)

CampusX

In [79]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}


l2=[]
new_str=''
for i in test_str:
    if(i!=' ' ):
        new_str+=i
    elif(i==' ' or i=='.'):
        l2.append(new_str)
        new_str=''

print(l2)

CampusX best for DS students.
['CampusX', 'best', 'for', 'DS']

In [102]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
l2=test_str.split()
print(l2)



for i in repl_dict:
    for j in range(0,len(l2)):
        if(i==l2[j]):
            test_str=test_str.replace(l2[j],repl_dict[i])

print(test_str)

['CampusX', 'best', 'for', 'DS', 'students.']
CampusX is the best channel for Data-Science students.

In [103]:
#for problem 3

In [104]:
#for problem 4

In [105]:
#for Problem 5

In [111]:
#29/july/2024  session 6
#Function 

#keyword function

def power(a=2,b=3):

    return a**b

a=4
b=3
power(b=4,a=2)

power(b,a)

81

In [114]:
# *args
#This is a function which takes variable numbers of arguments for the function
#Process behind: When * is present in the parameter then it create a tuple and add the all variables 
# * name) you can use any name in place of args

# to see the documentation of any function we use

print(print.__doc__)

def multiplier(*vari):

    product=1

    for i in vari:
        product*=i

    return product

multiplier(1,2,3,4,5)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

120

In [121]:
# **kwargs is used when you pass key value pair. It create a dictionary for them
d1={'12':32,32:12}
d1.items()


def adding(**kwargs):
    for (key,value) in kwargs.items():
        print(key,'...',value)


adding(Name='Raees',Roll_number='23p-0685')

Name ... Raees
Roll_number ... 23p-0685

In [122]:
#Notic:
#Order of parameters metter if their are normal, args and kwargs then this sequence should be followed
#Normmal parameters, args and kwargs

In [123]:
#If their in no return statement in the python functions
#THen it by default return a value 'none'
#Their are alot of build in function which does not return the value
#like .append in the list
l1=[1,2,3]
print(l1.append(2))

None